html{
  box-sizing: border-box;

}
*,
*::before,
*::after{
  box-sizing: inherit;
}

:root {
  --text: #434455; /* #434455 --text-description*/
  --dark: #2e2f42; /* #2E2F42 --block-header */
  --primary-brand: #4d5ae5; /* #4D5AE5 IRIS */
  --white-text: #ffffff;
  --light: #f4f4fd;
  --accent: #e7e9fc;
  --card-set-gap: 20px;
}

/*#region-- general settings-- */
body {
font-family: "Roboto", sans-serif;
  background-color: var(--white-text);
  color: var(--dark);
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
}

/* #endregion --General settings--  */

/*#region header */

/* navigation */
.nav-link {
  text-decoration: none;
  color: var(--dark);
}

/* фокус на webSTUDIO */
.logo {
  font-family: "Raleway", sans-serif;
text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  color: var(--dark);
}

.logo:hover,
.logo:focus {
  color: var(--text);
}
span {
  color: var(--primary-brand);
}
/* сторінки */
.site-nav {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--primary-brand);
}

/* contacts */

.link-contact {
  color: var(--text);
text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
}
.link-contact:hover,
.link-contact:focus {
  color: var(--primary-brand);
}
/* #endregion --header-- */

/* #region --menu-- */

/* hero */

/* секція заголовку */
.section {
  color: var(--white-text);
  background: var(--dark);
}
.section-title {
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
 
}

/* button in studio */
.hero-button {
  color: var(--white-text);
  background-color: #404bbf;
  cursor: pointer;
font-family: "Roboto", sans-serif; 
  font-weight: bold;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  color: varvar(--white-text);
  background-color: var(--primary-brand);
}

/* Quality and text */
/* Візуально прибрав заголовки */
.visually-hidden{
  
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
    }
  /* Контур для карток працівників */
  .quality-list{
    color:var(--dark);
    background: var(--white-text);
    font-weight: bold;
      font-size: 20px;
      line-height: 1.2;
      
  }
    /* Сards galery */


    /* Підкреслення посилань портфоліо*/
    .galery-cards{
      text-decoration: none;
    }
    /* Заголовки h3 */
.quality-title {
  color: var(--dark);

  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  
}
/* Заголовки параграфів */
.quality-title-paragraph{
  color: var(--text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

}
.secondary-title {
  color: var(--dark);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.11;

}


/* taem panel */
.team {
  background: var(--light);
}

/* sorting button portfolio */
.sorting {
  display: flex;
  font-family: "Roboto",sans-serif;
}
.button-primary {
  background-color: var(--light);
  color: var(--primary-brand);
  display: flex;
  cursor: pointer;
  font-weight: bold;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  letter-spacing: 0.04em;
  font-family: "Roboto" , sans-serif;
  font-style: normal;
    font-size: 16px;
    line-height: 1.5;
}

/* активація по кнопкам */
.button-primary:hover,
.button-primary:focus {
 
  background-color: var(--primary-brand);
  color: var(--white-text);
}

/* #endregion  --menu-- */

/* #region --footer--*/

/* footer */
.bottom {
  background-color: var(--dark);
  font-family: "Roboto",sans-serif;
}
.bottom-text {
  color: var(--accent);

  font-size: 16px;
  line-height: 1.5;
}

footer .logo {
  color: var(--light);
}
.bottom-logo
{font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  color: var(--white-text);
  text-decoration: none;
}
.bottom-logo:focus-visible{
  outline: none;
}
/* #endregion --footer--*/


















/* #region HEADER new box*/


/* header-flex */

.link-contact-box{
  display: flex;
}

.header-flex{
 
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 1440px ;
  outline: 2px solid tomato;
align-items: center;
  display: flex;
  justify-content: start;

}
/* logo */
.logo{
  display: flex;
  outline: 2px solid tomato;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left:156px;
  
}
/* сылки */

.site-nav {
  display: flex;
  padding-inline-start: 0%;

  
}
.site-nav .item{

  margin-left: 70px;
  display: block;
  outline: 2px solid tomato;
  padding-top: 24px;
  padding-bottom: 24px;
  
  
}
/*  робота над контактами*/
.site-nav .item+ .item{
margin-left: 40px;

}
/*contact*/
.contact{
  display: flex;
  margin-left: -500px;
  padding-inline-start: 0%;

}

.contact .item{
 
outline: 2px solid tomato;
min-width: 153px;
  margin-top: 24px;
  margin-bottom: 24px;
  align-items: baseline;



}
.contact .item+ .item{
  margin-left: 40px;
}
/* #endregion */

/*   main  */
main{
  display: inline-block;
  width: 1440px;
  margin: 0px;
}
/*hero --h1--*/
.section{
  width: 1440px;

  outline: 2px solid tomato;
  margin-bottom: 120px;

}
/* Title h1 */
.section-title{
  display: inline-block;
  width: 492px;
  outline: 2px solid tomato;
  margin: 192px 474px 48px 474px;

}
/* First Button */
.hero-button{
  display: inline-block;
    width: 170px;
    outline: 2px solid tomato;
    margin-bottom:192px;
    margin-left: 635px;
    margin-right: 635px; 
}
/* div h1*/

      

/* Button h1 */
.first-button{
  outline: 2px solid tomato;
}
/* #region hero */
/* section 1 */

.quality-box{
  display: flex;
  flex-wrap: wrap;
  outline: 2px solid tomato;
    padding-inline-start: 0%;
        width: 1440px;
        margin: 0px 156px 120px auto;
  
}

.box{
  outline:2px solid tomato;
  max-width: 264px;
  
 
}
.quality-box .box+ .box {
  margin-left: 24px;
}
.strategy-box{
  margin-left: 156px;
}




  /* section 2 */
  .content-box{
    outline: 2px solid tomato;
  
  width: 1440px;
  margin-bottom: 120px;
 
 
  }
  /* Заголовок 2 section */
 .content-box {
display: block;
outline: 2px solid tomato;


 }
 .secondary-title{
  display: flex;
justify-content: center;

  margin: 0px auto 72px auto;

 }
 /* обводка фото section 2*/
     .content-item .item{
     outline: 2px solid tomato;
     display: flex;

    } 
    /*   Робота с фото техники */
    .content-item{
        align-items: flex-start;
        width: 1128px;
          padding-inline-start: 0%;
          display: flex;
          flex-wrap: wrap;
            margin-left: auto;
              margin-right: auto;
    }
        .content-box .item+.item {
      margin-left: 24px;
        }
/* Панель сотрудников */
       
        .team{
          
          outline: 2px solid tomato;
          width: 1440px;
          height: 732px;
          padding-inline-start: 0%;
          
         
          
        }
        /* заголовок сотрудников*/
       .team .secondary-title {

       outline: 2px solid tomato;
       display:flex;
         justify-content: center;
         padding-top: 120px;
        padding-bottom: 72px;
        padding-left: auto;
        padding-right: auto; 
        margin: 0%;
         }

        /* фотографии сотрудников*/
.team-item{
display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

 padding-left: auto;
 padding-right: auto;
 padding-bottom: 116px;
 margin-bottom: 4px;
}


/* Делаю отступы для  фото сотрудников 
начиная со второго елемента */
 .team-item .quality-list+.quality-list {
   margin-left: 24px;
 }


/* #endregion*/



/*  Footer */
.bottom{
  display:block;
  width: 1440px;
  outline: 2px solid tomato;
  
  padding: 0px;
}
.box-footer{
  width: 264px;
  margin: 68px 1020px 100px 156px;
  display: inline-block;
}
/* logo та text */
.bottom .bottom-text{
  display: flex;

justify-content: space-around;
  margin:0;
 
/* padding: 100px 1020px 100px 156px; */
  outline: 2px solid tomato;
}
.bottom-logo{
  display: flex;
}
/* 
.botom-logo{
  margin-bottom: 16px;
} */



/* Portfolio flex */
/* меню сортировки  */
.sorting{
 outline: 2px solid tomato;
 margin: 96px auto 72px auto;
 padding: 0px;
  justify-content: center;
      display: flexbox;
}

 .sorting .item+.item {
  margin-left: 24px;
}
/* Основной контент портфолио */




 .galery-fons{
  outline: 2px solid tomato;
width: 1440px;
padding-left: 15px;
padding-right: 15px;
justify-content: center;
display: flex;
margin: 0px;

}
.galery{
outline: 2px solid green;
width: 1148px;
margin-bottom: 120px;

  padding: 0px;
  list-style: none;
  
  display: flex;
  flex-wrap: wrap;
margin-top: calc(-1 * var(--card-set-gap));
 margin-left: calc(-1 * var(--card-set-gap)); 
  
}
/* calc(-1 * var(--card-set-gap)) */

  .galery > .galery-photo{
    
  outline: 2px solid tomato;
  width: 360px;
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}     

