html{
  box-sizing: border-box;

}
*,
*::before,
*::after{
  box-sizing: inherit;
}

:root {
  --text: #434455; /* #434455 --text-description*/
  --dark: #2e2f42; /* #2E2F42 --block-header */
  --primary-brand: #4d5ae5; /* #4D5AE5 IRIS */
  --white-text: #ffffff;
  --light: #f4f4fd;
  --accent: #e7e9fc;
  --card-set-gap: 20px;
}

/*#region-- general settings-- */
body {
font-family: "Roboto", sans-serif;
  background-color: var(--white-text);
  color: var(--dark);
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
}

/* #endregion --General settings--  */

/*#region header */

/* navigation */
.nav-link {
  text-decoration: none;
  color: var(--dark);
}

/* фокус на webSTUDIO */
.logo {
  font-family: "Raleway", sans-serif;
text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  color: var(--dark);
}

.logo:hover,
.logo:focus {
  color: var(--text);
}
span {
  color: var(--primary-brand);
}
/* сторінки */
.site-nav {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--primary-brand);
}

/* contacts */

.link-contact {
  color: var(--text);
text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
}
.link-contact:hover,
.link-contact:focus {
  color: var(--primary-brand);
}
/* #endregion --header-- */

/* #region --menu-- */

/* hero */

/* секція заголовку */
.section-hero {
  color: var(--white-text);
  background: var(--dark);
}
.section-title {
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
 
}

/* button in studio */
.hero-button {
  color: var(--white-text);
  background-color: #404bbf;
  cursor: pointer;
font-family: "Roboto", sans-serif; 
  font-weight: bold;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  color: varvar(--white-text);
  background-color: var(--primary-brand);
}

/* Quality and text */
/* Візуально прибрав заголовки */
.visually-hidden{
  
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
    }
  /* Контур для карток працівників */
  .quality-list{
    color:var(--dark);
    background: var(--white-text);
    font-weight: bold;
      font-size: 20px;
      line-height: 1.2;
      
  }
    /* Сards galery */


    /* Підкреслення посилань портфоліо*/
    .galery-cards{
      text-decoration: none;
    }
    /* Заголовки h3 */
.quality-title {
  color: var(--dark);

  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  
}
/* Заголовки параграфів */
.quality-title-paragraph{
  color: var(--text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

}
.secondary-title {
  color: var(--dark);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.11;

}


/* taem panel */
.team {
  background: var(--light);
}

/* sorting button portfolio */
.sorting {
  display: flex;
  font-family: "Roboto",sans-serif;
}
.button-primary {
  background-color: var(--light);
  color: var(--primary-brand);
  display: flex;
  cursor: pointer;
  font-weight: bold;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  letter-spacing: 0.04em;
  font-family: "Roboto" , sans-serif;
  font-style: normal;
    font-size: 16px;
    line-height: 1.5;
}

/* активація по кнопкам */
.button-primary:hover,
.button-primary:focus {
 
  background-color: var(--primary-brand);
  color: var(--white-text);
}

/* #endregion  --menu-- */

/* #region --footer--*/

/* footer */
.bottom {
  background-color: var(--dark);
  font-family: "Roboto",sans-serif;
}
.bottom-text {
  color: var(--accent);

  font-size: 16px;
  line-height: 1.5;
}

footer .logo {
  color: var(--light);
}
.bottom-logo
{font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  color: var(--white-text);
  text-decoration: none;
}
.bottom-logo:focus-visible{
  outline: none;
}
/* #endregion --footer--*/


















/* #region HEADER new box*/

ul{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}


/* New Header */

.container{
outline:2px solid tomato; 

  width: 1158px;
  padding:0 15px;
   margin: 0 auto;
   

}
.header-container{
  display: flex;
 justify-content: space-between;
 align-items: center;

}

.header-nav{
outline: 2px solid tomato;

  display: flex;
  align-items: center;
  
}
.logo {
  outline: 2px solid tomato;

  padding-top: 24px;
  padding-bottom: 24px;
}

.site-nav {
outline:2px solid tomato;

  display: flex;
  margin-left: 77px;
    padding-top: 24px;
      padding-bottom: 24px;
}

.site-nav .item+.item {
  margin-left: 24px;

} 
/*contact*/
.contact{

  display: flex;
  margin: 0;
margin-left: auto;  
}

.contact .item{
outline: 2px solid tomato;

margin: 24px auto;
}
.contact .item+ .item{
  margin-left: 40px;
}
/* #endregion */

/*   main  */

/*hero --h1--*/
.section-hero{
  

  outline: 2px solid tomato;
  
  text-align: center;
  padding: 192px 0px ;
 

}
.section-title{

  width: 492px;
  margin: 0 auto;
  margin-bottom: 48px;

  outline: 2px solid tomato;
  
}
/* First Button */
.hero-button{
    outline: 2px solid tomato;
}

/* div h1*/

      

/* Button h1 */
.first-button{
  outline: 2px solid tomato;
}
/* #region hero */


/* section 1 */


.quality-box{
 
display: flex;
  outline: 2px solid tomato;
  padding:120px 0;
  
    gap: 24px;  

}

  /* section 2 */

  /* Заголовок 2 section */

 .content-box{
  display: block;
  outline: 2px solid tomato;
  justify-content: center;

 }
 .content-box .secondary-title{
   display: flex;
  
   justify-content: center;
    margin:  0px auto 72px; 
 }
 .content-item{
  display: flex;
  gap:24px;
 }
 
/* Панель сотрудников */
       
        .team{
          outline: 2px solid tomato;
          display: block;
          
        }
        /* заголовок сотрудников*/
      .team .secondary-title {

         outline: 2px solid tomato;
         display:flex;
         justify-content: center;
          padding: 100px 0px ;
         margin: 0px;
         } 

        /* фотографии сотрудников*/
.team-item{
  outline: 2px solid tomato;
display: flex;
  gap: 24px;
}

/*  Зміна ВІДСТУПУ p and h2*/

.team-text{

  outline: 2px solid tomato;
  padding-top: 32px;
  padding-bottom:32px;
  

  
}
 .quality-title{
  outline: 2px solid tomato;
  display: flex;
 margin: 0px;
  margin-bottom: 8px;
justify-content: center;
/* padding-top: 32px; */
 }

.quality-title-paragraph{
  outline: 2px solid tomato;
  display: flex;
  margin: 0px;
  justify-content: center;

}  
/* #endregion*/



/*  Footer */

.footer-container{
  display: block;
  padding: 100px 156px;
 
  
}
.bottom-logo{
  display:flex;
  width: 264px;
  margin: 0px;
  
  
}
.bottom-text{
  display: inline-block;
  margin: 16px 0px;
  justify-content: flex-start;
  width: 264px;
 
}


 

/* Portfolio flex */
/* меню сортировки  */
.sorting{
 outline: 2px solid tomato;
 margin: 96px auto 72px auto;
 padding: 0px;
  justify-content: center;
      display: flexbox;
}

 .sorting .item+.item {
  margin-left: 24px;
}
/* Основной контент портфолио */




 .galery-fons{
  outline: 2px solid tomato;
width: 1440px;
padding-left: 15px;
padding-right: 15px;
justify-content: center;
display: flex;
margin: 0px;

}
.galery{
outline: 2px solid green;
width: 1148px;
margin-bottom: 120px;

  padding: 0px;
  list-style: none;
  
  display: flex;
  flex-wrap: wrap;
margin-top: calc(-1 * var(--card-set-gap));
 margin-left: calc(-1 * var(--card-set-gap)); 
  
}
/* calc(-1 * var(--card-set-gap)) */

  .galery > .galery-photo{
    
  outline: 2px solid tomato;
  width: 360px;
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}     

